dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.7"
env:
  global:
    - GH_TOKEN=$GH_TOKEN
before_install:
  - chmod +x push.sh
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - ./push.sh

